{
  "bracketSameLine": false,
  "singleAttributePerLine": true,

  "tailwindStylesheet": "./src/routes/layout.css",

  "plugins": [
    "@prettier/plugin-oxc",
    "prettier-plugin-svelte",
    "prettier-plugin-tailwindcss"
  ],
  "overrides": [
    {
      "files": "*.svelte",
      "options": {
        "parser": "svelte"
      }
    }
  ]
}
